---
import UmpdBase from "@/layouts/UmpdLayout.astro";
import ImageMod from "@/layouts/components/ImageMod.astro";
import { getListPage } from "@/lib/contentParser.astro";
import { markdownify } from "@/lib/utils/textConverter.ts";
import { render } from "astro:content";
import Trainee from "@/layouts/partials/Trainee.astro"; // adjust path
import { getEntry } from "astro:content";

const trainee = await getEntry("traineeSection", "trainee");

const umpd = await getListPage("umpd", "index");

const title = "UMPD";
const { Content } = await render(umpd);
const { leftbox, rightbox } = umpd.data;
---

<UmpdBase title={title}>
    <!-- Banner -->
    <div slot="box-left">
        <img src="/div/honseyride.gif" style="max-width: 100%;" />
        <h1
            set:html={markdownify(leftbox.title)}
            class="mb-4 text-h3 lg:text-h1"
        />
        <p set:html={markdownify(leftbox.content)} class="mb-8" />
        {
            leftbox.button.enable && (
                <a
                    class="btn btn-primary"
                    href={leftbox.button.link}
                    target={
                        leftbox.button.link.startsWith("http")
                            ? "_blank"
                            : "_self"
                    }
                    rel="noopener"
                >
                    {leftbox.button.label}
                </a>
            )
        }
    </div>

    <div slot="box-right">
        <h3
            set:html={markdownify(rightbox.title)}
            class="mb-4 text-h3 lg:text-h3"
        />
        <p set:html={markdownify(rightbox.content)} class="mb-8" />
        <ul>
            {
                rightbox.bulletpoints?.map((bullet: string) => (
                    <li class="relative mb-4 pl-6">
                        <span set:html={markdownify(bullet)} />
                    </li>
                ))
            }
        </ul>
        <ul>
            <li>
                <a href="https://umadacchidensetsu.com/">umadacchi densetsu</a>
            </li>
            <li>
                <a
                    href="https://docs.google.com/document/d/11X2P7pLuh-k9E7PhRiD20nDX22rNWtCpC1S4IMx_8pQ/edit?tab=t.0"
                    >Uma Musume Reference doc for Global</a
                >a google doc with general info
            </li>
            <li>
                <a href="https://gametora.com/umamusume"
                    >Uma Musume on GameTora</a
                > the master bible
            </li>
            <li>
                <a href="https://game8.jp/umamusume/372297">game8 (jp)</a> another
                useful strat guide
            </li>
            <li>
                <a href="https://www.youtube.com/@umamusumeorigins"
                    >Umamusume Origins</a
                > Short 10 minute videos on the history of the horses in real life
            </li>
            <li>
                <a
                    href="https://docs.google.com/document/d/15VzW9W2tXBBTibBRbZ8IVpW6HaMX8H0RP03kq6Az7Xg/edit?tab=t.0#heading=h.1anf4k20l6xk"
                    >Race Mechanics</a
                > for those who like math
            </li>
            <li>
                <a
                    href="https://www.dbltap.com/guides/umamusume-velocity-vs-acceleration-explained"
                    >DBLTAP on velocity v acceleration</a
                >
            </li>
        </ul>
    </div>
    <div slot="the-whole">
        <h2>trainees</h2>
        <p><i>my cheat sheet for how I run the umas. 8/30 complete!</i></p>
        <Trainee trainee={trainee} />
       
    </div>
    <div slot="the-whole2">
        <h2>support cards</h2>
        <!-- Speeds -->
        <div class="small">
            <img
                src="https://img.game8.co/4216909/51948a362a139d9db95f858673d39164.png/show"
            />
            <img
                src="https://img.game8.co/4216919/54fb7e8c2ee829ca0d4ec498ca151171.png/show"
            />
            <img
                src="https://img.game8.co/4216915/273ed12209143b4b32b2664c5ac70333.png/show"
            />
            <img
                src="https://img.game8.co/4216948/9e6f130e4e2f5be3b66861c4c92da8fa.png/show"
            />
            <img
                src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
            />
            <img
                src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
            />
            <img
                src="https://img.game8.co/4216928/014824fcd1d9de631eccb6a433409cee.png/show"
            />
            <img
                src="https://img.game8.co/4216988/65712f78efdb6c1097a6f28ede3bf38a.png/show"
            />
            <img
                src="https://img.game8.co/4265535/0ee8574957219b1df6d026df96a2ccdd.png/show"
            />
            <img
                src="https://img.game8.co/4216910/aa4e4ba1a9a3668f44f2aa386298385c.png/show"
            />
            <img
                src="https://img.game8.co/4265539/f87e48b64e3000ff0f36d297bc598588.png/show"
            />
        </div>
        <!-- Stamina -->
        <div class="small">
            <img
                src="https://img.game8.co/4216912/ad2ffcd0c5a83b819990da8aeacf4040.png/show"
            />
            <img
                src="https://img.game8.co/4216918/ae698c30c34fe8a17261eeab497483e7.png/show"
            />
            <img
                src="https://img.game8.co/4216926/2bc1f9e84ecbf9679cdd487ffeaf9e26.png/show"
            />
            <img
                src="https://img.game8.co/4218617/68c4c7cdcd26a13fa87c5f083a7548e0.png/show"
            />
            <img
                src="https://img.game8.co/4216967/4f3a2e381dc8d111a93fe38c85ad99af.png/show"
            />
            <img
                src="https://img.game8.co/4216940/e66e67fb539011f5dcc2538201d78d7b.png/show"
            />
            <img
                src="https://img.game8.co/4216995/100f8901e234bb4b2095dba2ae40f1ce.png/show"
            />
            <img
                src="https://img.game8.co/4216952/f1b0919a543ae5bbbf7675dca6303063.png/show"
            />
        </div>
        <!-- Power -->
        <div class="small">
            <img
                src="https://img.game8.co/4216925/cdc63377f6c99bceb7fa4aad1ebdf636.png/show"
            />
            <img
                src="https://img.game8.co/4217008/9b0fff05441ee19ba7d325d87970381a.png/show"
            />
            <img
                src="https://img.game8.co/4216976/2534fb62fff784e4c60681a94f8d463f.png/show"
            />
            <img
                src="https://img.game8.co/4216922/d680f1ccee2313f552d68ef0df152c09.png/show"
            />
            <img
                src="https://img.game8.co/4217006/afec7558fcd9f4114e494bd8d383efe0.png/show"
            />
            <img
                src="https://img.game8.co/4216982/b37eb45e683a42665e0cd32a8db2eb9d.png/show"
            />
            <img
                src="https://img.game8.co/4241068/b4f4cfe7abe0b4309e5fc0766987344b.png/show"
            />
            <img
                src="https://img.game8.co/4231268/c0730360dd0ff078fd0d4ffbe002f2ab.png/show"
            />
        </div>
        <!-- Guts -->
        <div class="small">
            <img
                src="https://img.game8.co/4216996/83890ed399ec6f42c8d7e17d88e8d6ce.png/show"
            />
            <img
                src="https://img.game8.co/4216978/65131316552f0e4da5eab402d6dc82be.png/show"
            />

            <img
                src="https://img.game8.co/4216986/1293ea3dc08e0b8251cb32e9c203fbd8.png/show"
            />
            <img
                src="https://img.game8.co/4220093/f5f333c012b66df055ff4ba4d39b1074.png/show"
            />
            <img
                src="https://img.game8.co/4217007/0616c623d3f8c40f45c449cbb823efe3.png/show"
            />
            <img
                src="https://img.game8.co/4217014/a8135fb8f5e9321ab1481e325bf13107.png/show"
            />
            <img
                src="https://img.game8.co/4216956/9de8f34382a448c0c7b0d554f8785764.png/show"
            />
            <img
                src="https://img.game8.co/4216955/c4e8c1d6bdfaca1788be4f880ced0d8c.png/show"
            />
            <img
                src="https://img.game8.co/4240304/7c375b9abd0e8d964e5cd7342bddbbb9.png/show"
            />
        </div>
        <!-- Wit -->
        <div class="small">
            <img
                src="https://img.game8.co/4216934/8ed4f64c8e2d6d323ef3c37497d037cc.png/show"
            />
            <img
                src="https://img.game8.co/4216994/d4101a28256f6e1f77751492dd3d66c0.png/show"
            />
            <img
                src="https://img.game8.co/4217004/a1dca6a3b7dc01d7260b61354206572b.png/show"
            />
            <img
                src="https://img.game8.co/4217005/0ae89a5a90396fd64a70e7e3ac7ff61f.png/show"
            />
            <img
                src="https://img.game8.co/4220989/f10dfe2e4cecd3e18a7534b2a791023c.png/show"
            />

            <img
                src="https://img.game8.co/4216999/6bac71aff0bb69cd1f4d3b0a9cffc62b.png/show"
            />
            <img
                src="https://img.game8.co/4216921/91b37320035a93c4d4797d5ad49278ea.png/show"
            />
            <img
                src="https://img.game8.co/4217009/addcf67073760c7d6819b1de161f8ac4.png/show"
            />
            <img
                src="https://img.game8.co/4217012/b411b9e36183d24fda36f781bc9e6a1a.png/show"
            />
            <img
                src="https://img.game8.co/4216987/5379a2f017eb00497a1964a0000d1e61.png/show"
            />
            <img
                src="https://img.game8.co/4253944/755c8a4932d0d26a397f6a46c92371f7.png/show"
            />
        </div>
        <!-- Misc -->
        <div class="small">
            <img
                src="https://img.game8.co/4216935/100f6b7ab85435cdc59451e65415ded4.png/show"
            />
            <img
                src="https://img.game8.co/4216917/9b0f5878cb94b64a49393cb84ecc54d8.png/show"
            />
        </div>
    </div>
</UmpdBase>
