---
import UmaLayout from "@/layouts/UmaLayout.astro";
import Music from "@/components/widget/Music.astro";

const title = "Agnes Digital";
const cardname = "Full-Color Fangirling";
const date = "11-20-2025";
const rank = "★★★";
const racetype = "turf, dirt, mile, med";
const strat = "pace, late, end";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1019_101901.png";
---

<img src="/div/underconstruction.webp" />
<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>85</td>
                <td>8%</td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>91</td>
                <td>8%</td>
            </tr>
            <tr>
                <td>Power</td>
                <td>83</td>
                <td>7%</td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>100</td>
                <td></td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>91</td>
                <td>7%</td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>OMG! (ﾟ∀ﾟ) The Final Sprint! ☆</td>
                    <td
                        >If overtaking another uma at least 2 times since
                        entering late-race</td
                    >
                    <td
                        >target speed increased 35% and lane movement speed
                        increased by 3.5% for 5 sec</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20012.png"
                        /></td
                    >
                    <td>Uma Stan/Super Stan</td>
                    <td>
                        If wit check passes, at least 5 seconds have passed and
                        at least 3 umas are within 3 m or 3 lanes of you.
                    </td>
                    <td>Increase target speed 35% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20012.png"
                        /></td
                    >
                    <td>Forward March/Lead the Charge</td>
                    <td> If wit check passes, on dirt and in mid race </td>
                    <td
                        >Increase lane meovement speed by 3.5% and acceleration
                        by 30% for 3 sec</td
                    >
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20011.png"
                        /></td
                    >
                    <td>Late Surger Straightaways ○</td>
                    <td
                        >If wit check passed, late surger, and on random
                        straight</td
                    >
                    <td>Increase target speed 15%/25% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Wet Conditions ○</td>
                    <td
                        >If ground conditions are slightly heavy, heavy, or bad</td
                    >
                    <td>Power stat up 40/60</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20011.png"
                        /></td
                    >
                    <td>Medium Straightaways ○</td>
                    <td
                        >If distance medium, wit check passed, and on random
                        straight</td
                    >
                    <td>Target speed increases 15% for 3 sec</td>
                </tr>
            </table>
        </div>
        <p>
            There are also sever skills Digital is able to gain through events
            including top pick, acceleration, homestretch haste, kyoto
            racecourse, mile corners, updrafters, and unyielding spirit.
        </p>
    </div>
    <div slot="box-right">
        <h3>TT Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b>
                <ul>
                    <li>
                        Race - 900-1200 speed, 800-1000 stam, 600-800 power,
                        300-500 guts, wit 300-500
                    </li>
                </ul>
            </li>
            <li><b>Support Recs:</b></li>
            <div class="small">
                <img
                    src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
                />
                <img
                    src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
                />
                <img
                    src="https://img.game8.co/4216909/51948a362a139d9db95f858673d39164.png/show"
                />
                <img
                    src="https://img.game8.co/4216916/3c352856b5348f43d8c4f057c6a40b84.png/show"
                />
                <img
                    src="https://img.game8.co/4216926/2bc1f9e84ecbf9679cdd487ffeaf9e26.png/show"
                />

                <img
                    src="https://img.game8.co/4216967/4f3a2e381dc8d111a93fe38c85ad99af.png/show"
                />
                <img
                    src="https://img.game8.co/4216934/8ed4f64c8e2d6d323ef3c37497d037cc.png/show"
                />
                <img
                    src="https://img.game8.co/4217009/addcf67073760c7d6819b1de161f8ac4.png/show"
                />
                <img
                    src="https://img.game8.co/4216994/d4101a28256f6e1f77751492dd3d66c0.png/show"
                />
            </div>
            <li>
                <b>Parents:</b> McQueen, Symboli, Goldship, Mayano Top Gun
            </li>
            <li>
                <b>legacy sparks:</b>9★ ,
            </li>
            <li>
                <b>Skills:</b><ul>
                    <li>
                        these are always going to vary based on what build you
                        are going for, I would in general recommend getting uma
                        stan/superstan
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <h3>other notes</h3>
    <ul>
        <li></li>
        <li></li>
    </ul>

    <div slot="the-whole">
        <h3>Schedule</h3>
        <h4>junior year</h4>
        <ul>
            <li>
                <b>12</b>Participate in the Junior Make Debut [Dirt – 1600m –
                Mile]
            </li>
        </ul>
        <h4>Classics</h4>
        <ul>
            <li>
                <b>28</b>Place 3rd or better in the Hyacinth Stakes [OP – Dirt –
                1600m – Mile]
            </li>
            <li>
                <b>33</b>Place 5th or better in the NHK Mile Cup [G1 – Turf –
                1600m – Mile]
            </li>
            <li>
                <b>37</b>Place 5th or better in the Japan Dirt Derby [G1 – Dirt
                – 2000m – Medium]
            </li>
            <li>
                <b>46</b>Place 3rd or better in the Mile Championship [G1 – Turf
                – 1600m – Mile]
            </li>
        </ul>
        <h4>Senior Year:</h4>
        <ul>
            <li>
                <b>60</b>Place 3rd or better in 3 G1 races this should depend on
                what kind of build you are going for
            </li>
            <li><b>68</b>Place 1st in the Tenno Sho (Autumn) []</li>
        </ul>
    </div>
    <div slot="the-whole2">
        <img
            src="https://64.media.tumblr.com/77f749fc9eab65a3f196ed7d7d6c0d16/c4e2ad6c6e59d236-fd/s1280x1920/571dce74edcece201f8c74d269f3021d6787d073.pnj"
            style="max-width:100%;"
        />
        <div id="music" class="flex flex-col w-full gap-4">
            <div id="music" class="flex flex-col w-full gap-4">
                <Music
                    songname="仰げば尊Mission! (My Sacred Mission!)"
                    songlink="https://file.garden/aOJjY5VloELMsNHX/aogebatoutomission.mp3"
                    songcover="https://media1.tenor.com/m/lcyE7yhDA3kAAAAd/agnes-digital-uma-musume.gif"
                />
            </div>
        </div>
        <div class="large">
            <img src="" />
        </div>
        <p>this is my freak child and I adore her being a freak</p>
        <p>
            dividers sourced from <a href="https://www.tumblr.com/lumilumii0"
                >@lumilumii</a
            >
        </p>
        <img
            src="https://64.media.tumblr.com/e64b231062da6af244cde10bf04e0436/c4e2ad6c6e59d236-6e/s400x600/9463fffc5a10631aa6619abb949bd557bdd1c391.pnj"
            style="width:100%;"
        />
    </div>
</UmaLayout>
