---
import UmaLayout from "../../layouts/UmaLayout.astro";
import Music from "../../components/widget/Music.astro";

const title = "Curren Chan";
const cardname = "Fille Éclair";
const date = "11-06-2025";
const rank = "★★★";
const racetype = "turf, sprint";
const strat = "pace, front";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1038_103801.png";
---

<img src="/div/underconstruction.webp" />
<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>101</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>66</td>
                <td></td>
            </tr>
            <tr>
                <td>Power</td>
                <td>106</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>84</td>
                <td></td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>93</td>
                <td></td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <!-- UNDER CONSTRUCTION KEEP GOINGGGGGGGGGGGG -->
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Triumphant Pulse</td>
                    <td
                        >If order is ≥2 but also ≤5, in the front of the pack,
                        and distance is 200 remaining final straight</td
                    >
                    <td>target speed increased 45% for 5 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Corner Acceleration</td>
                    <td>At a random corner</td>
                    <td>Increase acc. by 20% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Acceleration</td>
                    <td>If mile, mid race, and overtaken one uma </td>
                    <td>Increase acceleration by 20% for 1.2 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Hydrate</td>
                    <td>If pace chaser and mid race</td>
                    <td>Stamina recovers 1.5% instantly</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_10041.png"
                        /></td
                    >
                    <td>Cloudy Days</td>
                    <td>If weather cloudy </td>
                    <td>Guts up 40/60</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Gourmand</td>
                    <td>If pace chaser and mid race </td>
                    <td>Stanima recovery 5.5% instantly</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Nimble Navigator</td>
                    <td
                        >Blocked by one uma in front, hp is ≥1, and in the last
                        spurt</td
                    >
                    <td
                        >Increase acceleration by 20% and lane movement speed by
                        .5% for 3 sec</td
                    >
                </tr>
            </table>
        </div>
    </div>
    <div slot="box-right">
        <h3>TT Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b>
                <ul>
                    <li>
                        Race - 900-1200 speed, 800-1000 stam, 600-800 power,
                        300-500 guts, wit 300-500
                    </li>
                </ul>
            </li>
            <li><b>Support Recs:</b></li>
            <div class="small">
                <img
                    src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
                />
                <img
                    src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
                />
                <img
                    src="https://img.game8.co/4216909/51948a362a139d9db95f858673d39164.png/show"
                />
                <img
                    src="https://img.game8.co/4216916/3c352856b5348f43d8c4f057c6a40b84.png/show"
                />
                <img
                    src="https://img.game8.co/4216926/2bc1f9e84ecbf9679cdd487ffeaf9e26.png/show"
                />

                <img
                    src="https://img.game8.co/4216967/4f3a2e381dc8d111a93fe38c85ad99af.png/show"
                />
                <img
                    src="https://img.game8.co/4216934/8ed4f64c8e2d6d323ef3c37497d037cc.png/show"
                />
                <img
                    src="https://img.game8.co/4217009/addcf67073760c7d6819b1de161f8ac4.png/show"
                />
                <img
                    src="https://img.game8.co/4216994/d4101a28256f6e1f77751492dd3d66c0.png/show"
                />
            </div>
            <li>
                <b>Parents:</b> McQueen, Symboli, Goldship, Mayano Top Gun
            </li>
            <li>
                <b>legacy sparks:</b>9★ ,
            </li>
            <li>
                <b>Skills:</b><ul>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
    <h3>other notes</h3>
    <ul>
        <li></li>
        <li></li>
    </ul>

    <div slot="the-whole">
        <h3>Schedule</h3>
        <h4>overall goals</h4>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <h4>junior year</h4>
        <ul>
            <li></li>
        </ul>
        <h4>Classics</h4>
        <ul>
            <li><b></b></li>
            <li><b></b></li>
            <li><b></b></li>
        </ul>
        <h4>End goal stats:</h4>
        <ul>
            <li><b></b></li>
            <li><b></b></li>
        </ul>
    </div>
    <div slot="the-whole2">
        <img
            src="https://64.media.tumblr.com/2fa1bcd1af3f2a448f44ed0d7d913ec2/d4a7df79b7f337a1-05/s540x810/bc902e161f5620f73d6f715eff3823d8af0805d6.pnj"
        />
        <div id="music" class="flex flex-col w-full gap-4">
            <div id="music" class="flex flex-col w-full gap-4">
                <Music
                    songname="unbreakable"
                    songlink="https://file.garden/aOJjY5VloELMsNHX/Unbreakable.mp3"
                    songcover="https://media1.tenor.com/m/f0IhWw_UvIEAAAAd/oguri-cap-oguri.gif"
                />
            </div>
        </div>
        <div class="large">
            <img src="/umpd/ocplush.png" />
        </div>
        <p>Tidbit about the uma</p>
        <p>
            dividers sourced from <a
                href="https://www.tumblr.com/diviniyae/tagged/pink%20dividers"
                >@diviniyae</a
            >
        </p>
        <img
            src="https://64.media.tumblr.com/cfacbe708b27760084154afd24af6cf3/c8bc4bddb48e8d78-da/s540x810/219cc15d9e89fffa1e8b1347485651fd2d491e08.pnj"
        />
    </div>
</UmaLayout>
