---
import UmaLayout from "../../layouts/UmaLayout.astro";
import Music from "../../components/widget/Music.astro";

const title = "Oguri Cap";
const cardname = "Starlight Beat";
const date = "06-08-2025";
const rank = "★★★";
const racetype = "turf, dirt, mile, med";
const strat = "pace chaser, late";
const potential = "4";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1006_100601.png";
---

<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>101</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>66</td>
                <td></td>
            </tr>
            <tr>
                <td>Power</td>
                <td>106</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>84</td>
                <td></td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>93</td>
                <td></td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <!-- UNDER CONSTRUCTION KEEP GOINGGGGGGGGGGGG -->
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Triumphant Pulse</td>
                    <td
                        >If order is ≥2 but also ≤5, in the front of the pack,
                        and distance is 200 remaining final straight</td
                    >
                    <td>target speed increased 45% for 5 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Corner Acceleration</td>
                    <td>At a random corner</td>
                    <td>Increase acc. by 20% for 3 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Acceleration</td>
                    <td>If mile, mid race, and overtaken one uma </td>
                    <td>Increase acceleration by 20% for 1.2 sec</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Hydrate</td>
                    <td>If pace chaser and mid race</td>
                    <td>Stamina recovers 1.5% instantly</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_10041.png"
                        /></td
                    >
                    <td>Cloudy Days</td>
                    <td>If weather cloudy </td>
                    <td>Guts up 40/60</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20021.png"
                        /></td
                    >
                    <td>Gourmand</td>
                    <td>If pace chaser and mid race </td>
                    <td>Stanima recovery 5.5% instantly</td>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20041.png"
                        /></td
                    >
                    <td>Nimble Navigator</td>
                    <td
                        >Blocked by one uma in front, hp is ≥1, and in the last
                        spurt</td
                    >
                    <td
                        >Increase acceleration by 20% and lane movement speed by
                        .5% for 3 sec</td
                    >
                </tr>
            </table>
        </div>
    </div>
    <div slot="box-right">
        <h3>TT Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b>
                <ul>
                    <li>
                        Med - 900-1200 speed, 800-1000 stam, 600-800 power,
                        300-500 guts, wit 300-500
                    </li>
                    <li>
                        Mile - 1100 speed, 700 stam (1 gold), 600 power, 300
                        guts, wit 300
                    </li>
                </ul>
            </li>
            <li><b>Support Recs:</b></li>
            <ul>
                <li>Med</li>
            </ul>
            <div class="small">
                <img
                    src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
                />
                <img
                    src="https://img.game8.co/4216909/51948a362a139d9db95f858673d39164.png/show"
                />
                <img
                    src="https://img.game8.co/4216919/54fb7e8c2ee829ca0d4ec498ca151171.png/show"
                />

                <img
                    src="https://img.game8.co/4216994/d4101a28256f6e1f77751492dd3d66c0.png/show"
                />
            </div>
            <ul>
                <li>Mile</li>
            </ul>
            <div class="small">
                <img
                    src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
                />
                <img
                    src="https://img.game8.co/4216909/51948a362a139d9db95f858673d39164.png/show"
                />
                <img
                    src="https://img.game8.co/4216919/54fb7e8c2ee829ca0d4ec498ca151171.png/show"
                />

                <img
                    src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
                />
                <img
                    src="https://img.game8.co/4216926/2bc1f9e84ecbf9679cdd487ffeaf9e26.png/show"
                />
                <img
                    src="https://img.game8.co/4218617/68c4c7cdcd26a13fa87c5f083a7548e0.png/show"
                />
            </div>

            <li>
                <p>
                    <b>parents</b>Borrowing super creek or power vodka, for mile
                    i used Symboli stamina and speed Mejiro Ryan
                </p>
            </li>
            <li>
                <b>legacy sparks:</b>9★ stamina,
            </li>
            <li>
                <b>Skills:</b><ul>
                    <li>Corner Connoisseur</li>
                    <li>Gourmand</li>
                    <li>Straight and corner recovery</li>
                    <li>Corner adept</li>
                    <li>Let's pump some iron</li>
                    <li>Behold thy emporer's divine might</li>
                </ul>
            </li>
        </ul>
    </div>
    <h3>other notes</h3>
    <ul>
        <li>
            yes if you need her at late surger this is an option but to optimize
            her as an ace she should be a pace chaser.
        </li>
        <li>
            My mile stats are from a confirmed B+ build, I'm still working on
            improving her overall but she's extremely consistently in the top 3
            every time
        </li>
    </ul>

    <div slot="the-whole">
        <h3>Schedule</h3>
        <h4>overall goals</h4>
        <ul>
            <li>
                Win any g1 race 4 times or get 5 speed skills to turn gourmand
                into starved monster (pace chaser mid race increase target speed
                by 35% and stamina recovery 1.5% for 3 sec)
            </li>
            <li>
                gourmand will either turn into starved monster or glutton of
                kasamatsu, prioritize based on stam/speed balance
            </li>
            <li>
                You'll want to get 15000 fans to unlock monsterous cornering
                (random corner increase accelerationby 40% and recoery stamin by
                1.5% for 3 sec) you will also have to win both the Mile Champ
                and Yasuda Kinen OR a short
            </li>
        </ul>
        <h4>junior year</h4>
        <ul>
            <li>Prioritize rainbow training as always</li>
        </ul>
        <h4>Classics</h4>
        <ul>
            <li>
                Early June - win Yasuda Kinen to work towards unlocking
                Monstrous Cornering
            </li>
            <li>
                Late Nov Win the Mile Championship to aid in unlocking
                Monsterous Cornering - required this year
            </li>
            <li>
                Win Arima Ken to trigger skill evolve to Glutton of Kasamatsu
                (Pace chasser and mid race stamina recovers by 7.5%)
            </li>
        </ul>
        <h4>
            End goal stats: 1000 speed, 600 stam, 800 power, 300 guts, 300 wit
        </h4>
        <ul>
            <li>
                Early June - win Yasuda Kinen to work towards unlocking
                Monstrous Cornering
            </li>
            <li>
                Late Nov Win the Mile Championship to aid in unlocking
                Monsterous Cornering
            </li>
        </ul>
    </div>
    <div slot="the-whole2">
        <img
            src="https://64.media.tumblr.com/2fa1bcd1af3f2a448f44ed0d7d913ec2/d4a7df79b7f337a1-05/s540x810/bc902e161f5620f73d6f715eff3823d8af0805d6.pnj"
        />
        <div id="music" class="flex flex-col w-full gap-4">
            <div id="music" class="flex flex-col w-full gap-4">
                <Music
                    songname="unbreakable"
                    songlink="https://file.garden/aOJjY5VloELMsNHX/Unbreakable.mp3"
                    songcover="https://media1.tenor.com/m/f0IhWw_UvIEAAAAd/oguri-cap-oguri.gif"
                />
            </div>
        </div>
        <p>
            Oguri is hands down my favorite dumb jock Uma. I first fell in love
            with her during the first manga released where she bravely
            confronted Spe about her desire to eat without limits in the caf
            like her. She's a gem and anyone who says otherwise should go watch
            Cinderella Grey. Besides just being a lovable little beef cake she
            also is a fantastic runner. I am blessed
        </p>
        <p>
            dividers sourced from <a
                href="https://www.tumblr.com/diviniyae/tagged/pink%20dividers"
                >@diviniyae</a
            >
        </p>
        <img
            src="https://64.media.tumblr.com/cfacbe708b27760084154afd24af6cf3/c8bc4bddb48e8d78-da/s540x810/219cc15d9e89fffa1e8b1347485651fd2d491e08.pnj"
        />
    </div>
</UmaLayout>
