---
import UmaLayout from "../../layouts/UmaLayout.astro";
import Music from "../../components/widget/Music.astro";

const title = "Taiki Shuttle";
const cardname = "Wild Frontier";
const date = "07-03-2025";
const rank = "★★★";
const racetype = "turf, dirt, mile, sprint";
const strat = "pace";
const potential = "3";
const cardimg =
    "https://gametora.com/images/umamusume/characters/chara_stand_1010_101001.png";
---

<UmaLayout
    title={title}
    ,
    cardname={cardname}
    ,
    date={date}
    ,
    rank={rank}
    ,
    racetype={racetype}
    ,
    strat={strat}
    ,
    potential={potential}
    ,
    cardimg={cardimg}
>
    <div slot="box-left">
        <table>
            <tr>
                <th>trait</th>
                <th>base</th>
                <th>bonus</th>
            </tr>
            <tr>
                <td>Speed</td>
                <td>96</td>
                <td>20%</td>
            </tr>
            <tr>
                <td>Stam</td>
                <td>71</td>
                <td></td>
            </tr>
            <tr>
                <td>Power</td>
                <td>98</td>
                <td></td>
            </tr>
            <tr>
                <td>Guts</td>
                <td>93</td>
                <td></td>
            </tr>
            <tr>
                <td>Wit</td>
                <td>92</td>
                <td>10%</td>
            </tr>
        </table>
        <button type="button" class="collapsible">skills</button>
        <div class="colcontent">
            <h3>skills</h3>
            <table>
                <tr>
                    <th>skill</th>
                    <th>name</th>
                    <th>conditions</th>
                    <th>effect</th>
                </tr>
                <tr>
                    <td
                        ><img
                            src="https://gametora.com/images/umamusume/skill_icons/utx_ico_skill_20013.png"
                        /></td
                    >
                    <td>Shooting for Victory! </td>
                    <td
                        >If on later half of final corner coming out, order is
                        3rd or further, and in the top 40% of the pack</td
                    >
                    <td>Increase acceleration 40% for 5 sec</td>
                </tr>
            </table>
        </div>
    </div>
    <div slot="box-right">
        <h3>URA Build</h3>
        <ul>
            <li>
                <b>Goal stats:</b> - 1000-1200 speed, 600-800 stam, 700-900 power,
                300-500 guts, 400-600 wit
            </li>
            <li><b>Support Recs:</b></li>
            <div class="small">
                <img
                    src="https://img.game8.co/4216919/54fb7e8c2ee829ca0d4ec498ca151171.png/show"
                />
                <img
                    src="https://img.game8.co/4218616/5381cc866a49ad65f83876f47662001e.png/show"
                />
                <img
                    src="https://img.game8.co/4216915/273ed12209143b4b32b2664c5ac70333.png/show"
                />
                <img
                    src="https://j-img.game8.co/5999066/86be0ae4e735c6322c615dcdcb854e58.png/show"
                />
                <img
                    src="https://img.game8.co/4217015/153838608e154b6d9fc4f2739cab45c7.png/show"
                />
                <img
                    src="https://img.game8.co/4216913/4d6bd93fa56fbfc5e0cd0030d2e2a9f6.png/show"
                />
                <img
                    src="https://img.game8.co/4217003/518c8eddab55c3f267dce7ef379fddc2.png/show"
                />
                <img
                    src="https://img.game8.co/4216925/cdc63377f6c99bceb7fa4aad1ebdf636.png/show"
                />
                <img
                    src="https://img.game8.co/4237780/22199a75c4856c2b7cf4a62f924319d1.png/show"
                />
                <img
                    src="https://img.game8.co/4216996/83890ed399ec6f42c8d7e17d88e8d6ce.png/show"
                />
                <img
                    src="https://img.game8.co/4216934/8ed4f64c8e2d6d323ef3c37497d037cc.png/show"
                />
             </div>
                <li>
                    <b
                        >Parents: Oguri cap 19(Triumphant Pulse, gourmand),
                        Rudolph Symboli (Behold, prof of curvature) 20,</b
                    >
                </li>
                <li>
                    <b>legacy sparks:</b>3★ mile, 3★ turf, 6★ dirt if you want
                    to make her a dirt runner, 3★ pace chaser, 9★ stamina, 9★
                    power
                </li>
                <li>
                    <b>Skills:</b><ul>
                        <li>
                            high priority: Changing gears/shifting gears,
                            straightaway adept, gourmand, professor of
                            curvature/corner adept, tail held high
                        </li>
                        <li>
                            mid priority: all i've got, head on, highlander,it's
                            on
                        </li>
                        <li>
                            low priority:mile maven/productive plan, pace chaser
                            savvy
                        </li>
                    </ul>
                </li>
            </div>
            <h3>other notes</h3>
            <ul>
                <li>
                    So her ultimate skill is best activated when in the top 40%
                    of the pack. So either the top 3-6 of the horses(CM 4 | LoH
                    5). BUT! You also can't be in 2nd or 1st position. If I'm
                    putting her on my pvp teams, I can't always rely on this
                    skill happening if there's not enough front runners. Make
                    sure she is ran with another front runner on the team (Like
                    Falco for dirt team trials).
                </li>
                <li>
                    However if it doesn't activate that's fine because I'll have
                    mid race skills to cover my ass if I'm too far back and push
                    me more in the lead if I'm out ahead.
                </li>
                <li>
                    optional races will trigger beyond the mile which gets us 2
                    hints of head on. It will also give a 25 point boost to
                    guts, power and speed if needed. It is a very low priority
                    over overall stats.
                </li>
            </ul>
        </ul>
        <div slot="the-whole">
            <h3>URA Schedule</h3>
            <h4>overall goals</h4>
            <ul>
                <li>
                    <b>12</b>Participate in the Junior Make Debut [Dirt – 1600m
                    – Mile]
                </li>
            </ul>
            <h4>classic year</h4>
            <ul>
                <li>
                    <b>25</b> Place 5th or better in the Shinzan Kinen [G3 – Turf
                    – 1600m – Mile]
                    <b>29</b> optional: win the kinko sho to trigger beyond the mile
                </li>
                <li>
                    <b>33</b> Place 5th or better in the NHK Mile Cup [G1 – Turf
                    – 1600m – Mile]
                </li>
                <li>
                    <b>36</b>Place 5th or better in the Unicorn Stakes [G3 –
                    Dirt – 1600m – Mile]
                </li>
                <li>
                    <b>46</b>Place 3rd or better in the Mile Championship [G1 –
                    Turf – 1600m – Mile] (optional: win 1st to trigger beyond
                    the mile)
                </li>
            </ul>
            <h4>senior year</h4>
            <ul>
                <li>
                    <b>58</b> optional: be fully rested here to be prepared for summer
                    training after back to back races
                </li>
                <li>
                    <b>59</b>Place 1st in the Yasuda Kinen [G1 – Turf – 1600m –
                    Mile]
                </li>
                <li>
                    <b>60</b> optional: win the kinko sho to trigger beyond the mile
                </li>
                <li>
                    <b>66</b>Place 1st in the Sprinters Stakes [G1 – Turf –
                    1200m – Short]
                    <b>67</b> optional: win the mainichi okan to trigger beyond the
                    mile
                    <b>60</b> optional: win the autumn tenno sho to trigger beyond
                    the mile
                </li>
                <li>
                    <b>70</b>Place 1st in the Mile Championship [G1 – Turf –
                    1600m – Mile]
                </li>
            </ul>
        </div>
        <div slot="the-whole2">
            <img src="https://i.postimg.cc/xCVq3Cwz/IMG_9173.gif" />
            <p>
                I love a good foreign idiot trope. We really needed a solid
                cowgirl yeehaw character in this line up. Taiki is pure and
                simple and I like her as she is.
            </p>
            <div class="large">
                <img src="/umpd/tswanted.png" />
            </div>
            <img
                src="https://i.postimg.cc/W37pm7mB/IMG_9169.png"
                style="max-width:100%;"
            />
            <p>
                dividers sourced from <a href="https://www.tumblr.com/pueriled"
                    >@pueriled
                </a>
            </p>
        </div>
    </div>
</UmaLayout>
